.menu {
    display: flex;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
}

.BookstoreCMS {
    font-family: Montserrat;
    font-size: 1.875rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--azure);
  }

  .BOOKS {
    font-family: Montserrat;
    font-size: 0.813rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.9px;
    color: #121212;
  }

  .CATEGORIES {
    opacity: 0.5;
    font-family: Montserrat;
    font-size: 0.813rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.9px;
    color: #121212;
  }
