.BookAction {
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  padding: 0 1em 0 0;
  border-right: solid 1px var(--white-three);

  @media (max-width: 600px) {
    width: 100%;
    max-width: 72.156px;
    border: none;
    padding: 0;
    border-top: solid 1px var(--white-three);
    text-align: left;
  }
}

.Loading {
  color: #03a9f4;
}

.Error {
  color: #e91e63;
}
