.BookstoreCMS {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 5.313rem 3.75rem;
  background-color: var(--pale-grey);

  @media (max-width: 768px) {
    padding: 4.313rem 1.75rem;
  }
}

.Line {
  height: 2px;
  width: 76vw;
  border: solid 1px var(--white-three);
}
