.panelBg {
    width: 100%;
    height: 5.938rem;
    margin: 0 0 2.375rem;
    padding: 1.438rem 6.188rem 1.688rem 6.25rem;
    background-color: var(--white-two);
    display: flex;
    justify-content: space-between;
    align-items: center;
}